@import "~@/utils/utils.less";
.sider .theme {
  background-color: @primary-color
}

.logo h1 {
  color: white;
}

.search{
  margin-bottom: 54px;
}
.fold{
  width: calc(100% - 216px);
  display: inline-block
}
.operator{
  margin-bottom: 18px;
}
@media screen and (max-width: 900px) {
  .fold {
    width: 100%;
  }
}
.operator button {
  margin-right: 5px;
}
i {
  cursor: pointer;
}
span {
  &.bold {
    font-weight: 700
  }
  &.padding-right {
    padding-right: 5px
  }
}


// 表格
.full-width-table {
  width: 100%
}
.full-width-tab {
  width: 100%
}
.full-width {
  width: 100%
}
.full-height {
  height: 100%;
}

// .operation-btn:hover {
//   cursor: pointer;
//   padding-right: 10px;
// }

.operation-btn{
  cursor: pointer;
  padding-right: 10px;
}

// 表单
.table-page-search-wrapper {
  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-bottom: 24px;
      margin-right: 0;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }
      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

// popover
.blue-title-popover {
  .ant-popover-content .ant-popover-arrow {
    background-color: #1875F0;
    border-color: #1875F0;
    // border-left-color: #349EF6;
  }
  .ant-popover-inner .ant-popover-title {
    background-color: #1875F0;
    color: #fff
  }

}
.blue-title-popover-content {
  &.popover-trigger {
    cursor: pointer;
    color: #1875F0;
  }
}

.red-title-popover {
  .ant-popover-content .ant-popover-arrow {
    background-color: #fff;
    border-color: #fff;
    // border-left-color: #349EF6;
  }
  .ant-popover-inner .ant-popover-title {
    background-color: #FF6565;
    color: #fff
  }
  .ant-popover-inner-content {
    height: 400px;
    overflow-y: auto;
    position: relative;
    z-index: 2;
  }
  .ant-popover-arrow {
    z-index: 1;
  }
}
.red-title-popover-content {
  &.popover-trigger {
    cursor: pointer;
    color: #FF6565;
  }
}

.strategy-blue-title-popover {
  .ant-popover-content .ant-popover-arrow {
    background-color: #1875F0;
    border-color: #1875F0;
    // border-left-color: #349EF6;
  }
  .ant-popover-inner .ant-popover-title {
    background-color: #1875F0;
    color: #fff
  }
  .ant-popover-inner-content {
    width:250px;
    height: 400px;
    overflow-y: auto;
    position: relative;
    z-index: 2;
  }
  .ant-popover-arrow {
    z-index: 1;
  }

}
.strategy-blue-title-popover-content {
  &.popover-trigger {
    cursor: pointer;
    // color: #1875F0;
  }
}

.alarm-pop-wrap .ant-popover-inner {
  min-width: 400px;
}

// 分割线 divider
.inline-divider.ant-divider-horizontal {
  margin: 12px 0;
}

// 
span.blue-click {
  color: #21A7E8;
  cursor: pointer;
}
span.normal-click, .normal-click {
  cursor: pointer;
}

// spin居中
.pop-center-spin > span.ant-spin-dot.ant-spin-dot-spin {
  top: 50%;
  position: absolute;
  left: 50%;
  margin: -10px;
}

.header-add-btn-row() {
  .float-add-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  .left-text{
    float: left;
    color: #4E4E4E;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
  }
}
.header-add-btn-row();

// .header-add-btn()
.float-add-btn-wrap {
  margin-bottom: 5px;
  height: 35px;
  position: relative;
  .clearfix();
  .header-add-btn-row();
}

// flex
.flex-wrap {
  display: flex
}
.flex-auto-line {
  flex-wrap: wrap
}
.flex-item {
  flex: 1 1 auto
}

.flex-item-no-grow {
  flex: 0 1 auto
}

.flex-colomn {
  flex-direction: column
}

.left-align {
  text-align: left
}

